*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: monospace;
}

html{
	font-size: 90%;
}

body{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	background-image: url('bfbrg.jpg');
}

.form_con{
	width: 350px;
	height: 350px;
	padding: 0;
	border-radius: 4px;
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: auto;
	position: relative;
	background-color: lightblue;
	overflow: hidden;
	z-index: 1;
}

.titleDiv{
	position: relative;
	width: 100%;
	text-align: center;
	margin: 10px auto 5px;
	transform: translateY(-2rem);
}

.title{
	color: black;
	font-weight: 700;
	font-size: 3rem;
}

.row{
	display: grid;
	position: relative;
	gap: 0.3rem;
	margin: 8px;
}

label{
	display: block;
	padding: ;
	font-size: 15px;
}

input{
	width: 300px;
	border: none;
	outline: none;
	padding: 0.8rem;
	border-radius: 5px;
}

#lgn{
	cursor: pointer;
}

#lgn:hover{
	background-color: darkgray;
}

.error{
	font-size: 1.3rem;
	transform: translateY(-2rem);	
}